<nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(231, 98, 8);">
  <a class="navbar-brand" href="#" style="color: black;"><b>BLOCKBUSTER</b></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link active" routerLink="/juegos"><i>Juegos</i></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link active" routerLink="/companies"><i>Compañías</i></a>
      </li>
    </div>
  </div>
</nav>

